<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{name}}<br>
    {{ingred}}
    {% for i,ii in ingred_list.items()%}
    {{i}}
    {{ii[0]}}{{ii[1]}}<br>
    {% endfor %}
    등록되었습니다.
    <button><a href='/' style="text-decoration: none;">돌아가기</a></button>
    <script>
        
    </script>
</body>
</html>