{% extends "base.html" %} {% block contents %}
<br />
<div class="form_wrap">
  <div class="leftform_wrap">
    <p class="leftform_title">레시피 검색하기</p>
    <form id="leftform" claskkmethod="post" action="/search/">
      <label
        ><span class="categoryname">ingredients : </span
        ><input type="text" name="ingredients" placeholder="주재료 입력" /></label
      ><br /><br />
      <label
        ><span class="categoryname">price : </span
        ><input type="text" name="price" placeholder="금액 입력"/></label
      ><br /><br />
      <label
        ><span class="categoryname">category : </span
        ><input type="text" name="category" placeholder="분류 입력" /></label
      ><br /><br />
      <label
        ><span class="categoryname">dislike : </span
        ><input type="text" name="dislike" placeholder="제외할 재료 입력" /></label
      ><br /><br />
      <div class="buttons">
        <button type="submit" value="레시피 검색">검색하기</button>
        <button type="reset">재설정</button>
      </div>
    </form>
  </div>
  <div class="rightform_wrap">
    <img
      id="rightform_img"
      src="https://recipe1.ezmember.co.kr/cache/recipe/2017/09/15/870609fd6e486df1f8f3e09f322aedeb1.jpg"
      alt=""
    />
    <p id="rightform_title">전체메뉴 검색</p>
    <form id="rightform" class="d-flex" method="post">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

<link rel="stylesheet" href="../static/home.css" />
{% endblock contents %}
