{% extends "base_login.html" %}

{% block contents %}
    <div class="form_wrap">
        <h1>레시피등록</h1>
        <form>
            <label>레시피 이름 <input type="text"></label>
            <br>
            <label for="unit">재료 <input type="text" name="size" id="unit"></label>
            <select id="unit">
                <option value="#">마리</option>
                <option value="#">개</option>
            </select>
            <br><br>
            <input type="submit" value="등록">
        </form>
    </div>
    <link rel="stylesheet" href="../static/regi_recipe.css">
    

{% endblock contents %}
